<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/menu.css" />
    <link rel="stylesheet" href="./css/center.css" />
    <link rel="stylesheet" href="./css/animation.css">/
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2? família=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2? família=Anton&display=swap" rel="stylesheet">
    <title>desafio2</title>
  </head>
  <body >

    <div id="style">
      <div id="menu" class="menu">

       <input type="checkbox" id="bt_menu">
       <label for="bt_menu">&#9776;</label>
      
        <h2 class="parte1 animete-up" >NORTHERN</h2>
        <!--parte1-->

        <div class="parte2 animete-up">
          <a href="#">Farms</a>
          <a href="#">Nature</a>
          <a href="#">Moutains</a>
          <a href="#">Houses</a>
        </div>
        <!--parte2-->

        <div class="parte3 animete-up">
          <a href="#">About</a>
          <a href="#">Submit</a>
        </div>
        <!--parte3-->

        <div class="parte4 animete-up">
          <i>
            <img src="./conteudo/image/lupa.svg" alt="" />
            <img src="./conteudo/image/utilizador.svg" alt="" />
          </i>
        </div>
        <!--parte4-->
      </div>
      <!--id menu-->
    </div>
    <!--id style-->

    <!--
menu
-->
    <div id="conteudo">
      <div class="conteudo1">
        <p>NORWAY FARMS</p>
        <h3>
          These farms are often ectremely idyllic, and 
          also affer plent of nature based activities in 
          the immendiate vicinity, like hinking, fishing, 
          horse riding, and kayaking.
        </h3>
      </div>
      <!-- class conteudo1-->

      <div class="conteudo2">
        <p>UP NEXT</p>
        <img class="arrow" src="./conteudo/image/arrow.svg" alt="" />
        <h2>Nature</h2>
        <spam>Discover</spam>
      </div>
      <!--class conteudo2-->
      <div class="conteudo3">
        
      </div><!--class conteudo3-->
    </div>
    <!--id conteudo-->

    <div id="botton" class="botton">
      <div class="botton1">
        <h2>Most popular activity</h2>
        <span>Hiking in the mountains</span>
      </div>
      <!--class botton1-->
      <div class="botton2">
        <h2>recharge fully in nature</h2>
        <span>Perfect for some time off</span>
      </div>
      <!--class botton2-->
      <div class="botton3">
        <h2>01</h2>
        <img src="./conteudo/image/horizontal.svg" alt="" /> 
        <h2>04</h2>
            </div>
      <div class="botton4">
        <i>
          <img src="./conteudo/image/left.svg" alt="" />
          <img src="./conteudo/image/rigth.svg" alt="" />
        </i>
      </div><!--class botton4-->
    </div><!--class botton3-->
  
    
  </div>  <!--id botton-->
  </body>
</html>
